@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");

* {
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

.advertise {
  background-color: #00964a;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  color: white;
  font-size: 10px;
  position: relative;
}

.advertise .closeIcon {
  position: absolute;
  right: 12px;
  top: 3px;
  cursor: pointer;
  font-size: 15px;
}

/* ------------------------------------------------------- nav bar   ---------------------------------- */

nav {
  position: fixed;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  height: 10vh;
  background-color: white;
  isolation: isolate;
}

.navbar .options span {
  margin-right: 15px;
  font-size: 12px;
  cursor: context-menu;
}

.menu_icon {
  display: none;
}

.navbar .options .about_options {
  padding: 1rem;
  background-color: white;
  top: 46px;
  position: absolute;
  left: 85px;
  width: 15vw;
  font-size: 22px;
  color: grey;
  display: none;
}

.navbar .icon i {
  margin-left: 20px;
}

.options span:hover,
.icon i:hover {
  color: #00964a;
}

.navbar .webpage_logo {
  position: absolute;
  top: 0;
  left: 47%;
  z-index: 100;
}

.webpage_logo_mobile {
  display: none;
}

.body_container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-image: url("/images/DeshleeCouch_Lifestyle8.png");
  margin-top: 83px;
  height: 86vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header div {
  padding-right: 20rem;
}

.header p {
  color: white;
  font-size: 50px;
  font-family: fangsong;
  font-weight: 900;
  width: 2rem;
  margin: 0;
}

.header button {
  padding: 10px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 500;
}

.header button:hover {
  background-color: black;
  color: white;
}

.description {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 27rem;
  padding-right: 25rem;
  text-align: center;
}

.brands {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.Group1125 {
  width: 55rem;
}

.group2562 {
  display: none;
}

.product_heading {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.product_heading p {
  text-align: center;
}
.product_heading h3 {
  text-align: center;
}

.green-leaf-image {
  display: flex;
  justify-content: center;
}

/*  -----------------------------------  products section start --------------------------------------- */

.product_section {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.product_card {
  width: 19vw;
  margin-right: 20px;
  position: relative;
}

.product_imagesForMobile {
  display: none;
}

.product_card .product_details {
  background-color: #f5f3ef;
  padding: 10px;
}

.product_details .product_title {
  font-weight: 500;
  margin-bottom: 0;
}

.product_details .product_description {
  font-size: 10px;
  margin-bottom: 10px;
}

.product_details .product_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product_details .product_price .product_button {
  font-size: 8px;
  padding: 5px;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.product_details .product_price .product_button:hover {
  background-color: white;
  color: black;
  border: 0;
}

.product_section .product_slider_left-button {
  position: absolute;
  left: 9rem;
  top: 13rem;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
}

.product_section .product_slider_left-button:hover {
  background-color: black;
  color: white;
}

.product_section .product_slider_right-button {
  position: absolute;
  right: 9rem;
  top: 13rem;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
}

.product_section .product_slider_right-button:hover {
  background-color: black;
  color: white;
}

.product_image_button {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 286px;
  border: 0;
  background-color: white;
  font-size: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #00964a;
  cursor: pointer;
}

.product_image_button:hover {
  display: block;
}

.all-products_button {
  background-color: #00964a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
}

.all-products_button:hover {
  background-color: black;
}

.best-seller_image {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 52px;
}

/* ----------------------------------------------- product details modal ----------------------------- */

.btn-close {
  position: absolute;
  right: 0;
}

.modal_body_content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.modal_body_content img {
  height: 49vh;
}

.modal_body_content .modal_body_right_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.modal_body_content .modal_body_right_content .product_title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.rating_with_order-info {
  border-bottom: 2px solid;
  padding-bottom: 15px;
}

.rating_star {
  color: #00964a;
}
.order_info {
  font-size: 12px;
}

.modal_product_description {
  width: 21rem;
  font-size: 12px;
}

.see_more {
  color: #00964a;
  font-weight: 500;
}

.modal_product_pricing {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.modal_product_pricing p {
  font-weight: 700;
  color: #00964a;
}

.modal_product_quantity {
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border: 1px solid;
  border-radius: 20px;
  margin-right: 5px;
}

.modal_product_addCart_button {
  font-size: 9px;
  padding: 5px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.modal_product_addCart_button:hover {
  background-color: white;
  color: black;
}

/* ------------------------------------------- Information Section ----------------------------- */
.information {
  background-color: #f5f3ef;
  margin-top: 5rem;
  /* margin-left: 3rem; */
  /* margin-right: 3rem; */
}

.information_one {
  display: flex;
  justify-content: space-between;
}

.information_one img {
  width: 45vw;
}

.information_one_details {
  padding: 6rem;
  padding-right: 9rem;
}

.information_one_details h2 {
  color: #00964a;

  font-family: math;
  font-size: 5rem;
  font-weight: 900;
}

.information_one_details p {
  font-size: 13px;
}

.information_one_details button {
  background-color: #00964a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
}
.information_one_details button:hover {
  background-color: black;
}

.information_two {
  /* margin-top: 2rem; */
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 6rem;
  padding-left: 10rem;
  padding-right: 10rem;
  gap: 10rem;
}

.information_two .information_two_left h2 {
  color: #00964a;
  font-family: math;
  font-weight: 900;
  font-size: 3rem;
}

.information_two_right_div_forMobile {
  display: none;
}

.information_two_right_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information_two_right {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.information_two_right img {
  width: 70px;
  height: 70px;
}

.information_two_right .information_heading {
  font-weight: 700;
  margin: 0;
}

.information_two_right .information_paragraph {
  color: grey;
  font-size: 10px;
}

.information_three {
  display: flex;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 2rem;
}

.information_three_secondImage {
  padding-left: 7rem;
  margin-top: -15rem;
}

.information_three_firstImage {
  margin-top: -70px;
  z-index: 1;
}

.information_three div button {
  background-color: #00964a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}

.information_three div button:hover {
  background-color: black;
}

/* ---------------------------------------------------- collection section ---------------------------- */

.collection_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.collection_image {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 10rem;
  margin-right: 8rem;
}

.collection_image img {
  width: 20vw;
  height: 53vh;
}

.collection_image_shopButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collection_image_shopButton .bi-three-dots {
  display: none;
}

.collection_button {
  background-color: #00964a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}

.collection_button:hover {
  background-color: black;
}

.group_2531 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.group_2531_Image {
  width: 55rem;
}

.group_2531_thirdImage {
  display: none;
}

.group_2531 h5 {
  text-align: center;
  font-weight: 700;
}

.group_2531 div {
  padding-left: 10rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.collection_second_part {
  padding-top: 5rem;
  width: 30vw;
}

.collection_second_part h1 {
  font-family: fangsong;
  font-weight: 900;
  color: #00964a;
  font-size: 50px;
  margin-bottom: 2rem;
}
.collection_second_part p {
  font-size: 14px;
}

.collection_second_part button {
  margin-top: 2rem;

  background-color: #00964a;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}
.collection_second_part button:hover {
  background-color: black;
}

.specialization {
  display: flex;
  gap: 4rem;
}

.specialization img {
  width: 55vw;
}

/* ------------------------------------------- Greenery section ----------------------------------- */

.greenery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.greenery_items {
  display: flex;
  padding-left: 9rem;
  padding-right: 9rem;
  justify-content: space-around;
  margin-top: 2rem;
}

.greenery_items .greenery_card {
  width: 23vw;
}

.greenery_card_forMobile {
  display: none;
}

.greenery_card h5 {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 700;
}

.greenery_card p {
  font-size: 12px;
}

.greenery_card button {
  font-size: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.greenery_card button:hover {
  background-color: white;
  color: black;
}

.greenery_card_dot {
  display: none;
}

.greenery_button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.greenery_button button {
  margin-top: 2rem;
  background-color: #00964a;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}

.greenery_button button:hover {
  background-color: black;
}

/* ----------------------------------------- footer above images ------------------------------ */
.images_above_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-left: 10rem;
  margin-right: 8rem;
  margin-top: 6rem;
}

.images_above_footer div {
  width: 21vw;
}

.images_above_footer div h5 {
  width: 12vw;
  padding-top: 1rem;
}

/* --------------------------------------- footer above banner----------------------------------- */

.footer_above_banner {
  background-image: url("/images/L&L_ReadytoHydrate copy.png");
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.footer_above_banner h1 {
  margin-top: 3rem;
  color: white;
  font-family: fangsong;
  font-weight: 900;
  font-size: 5rem;
}

.footer_above_banner button {
  background-color: #00964a;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}

.footer_above_banner button:hover {
  background-color: black;
}

/* -------------------------------------------------------------- MOBILE VIEW -------------------------------------------- */

@media only screen and (max-width: 767px) {
  .body_container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar {
    height: 7vh;
  }

  .options_menu {
    display: none;
  }

  .menu_icon {
    display: block;
  }

  .webpage_logo {
    display: none;
  }

  .webpage_logo_mobile {
    display: block;
    position: absolute;
    top: 15px;
    left: 47%;
    z-index: 100;
  }

  .description {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Group1125 {
    display: none;
  }

  .group2562 {
    display: block;
  }

  /* ------------------------------------------------- main body container mobile view --------------------------------------- */

  .header {
    background-size: 41rem 39rem;
  }

  .header div {
    padding-right: 13rem;
    margin-top: 12rem;
  }

  .product_heading p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* ---------------------------------------- product section mobile view ---------------------------------------------------- */

  .product_section {
    overflow: hidden;
  }
  .product_card {
    display: none;
  }

  .product_imagesForMobile {
    display: block;
    display: flex;
    gap: 20px;
    width: 100vw;
    overflow: hidden;
    padding-right: 44rem;
  }
  .product_section .product_slider_left-button {
    left: 1rem;
    top: 13rem;
  }

  .product_section .product_slider_right-button {
    right: 1rem;
    top: 13rem;
  }

  /* ----------------------------------------------------------------- information section mobile view --------------------------------------- */
  .information_one {
    flex-direction: column;
  }

  .information_one img {
    width: auto;
  }

  .information_one_details {
    padding: 3rem;
  }

  .information_one_details h2 {
    font-size: 3rem;
  }

  .information_two {
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .information_two_right_div {
    display: none;
  }

  .information_two_right_div_forMobile {
    display: block;
  }
  .information_headingForMobile {
    font-size: 22px;
    font-weight: 700;
  }

  .information_three {
    flex-direction: column-reverse;
    overflow: hidden;
    width: 100vw;
    padding: 2rem;
  }

  .information_three_firstImage {
    width: 100vw;
    margin-left: -3rem;
  }

  .information_three_secondImage {
    display: none;
  }

  /* ------------------------------------------------------------------ collection section mobile view -------------------------------- */

  .group_2531_thirdImage {
    display: block;
  }

  .group_2531_Image {
    display: none;
  }

  .collection_heading p {
    width: 62%;
  }
  .collection_image {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
  }

  .collection_image img {
    display: none;
  }

  .collection_image img:first-child {
    display: block;
    width: 100vw;
    height: 53vh;
  }

  .specialization {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .specialization img {
    width: 100vw;
  }

  .collection_image_shopButton .bi-three-dots {
    display: block;
    color: #00964a;
    font-size: 47px;
  }
  .group_2531 div {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .collection_second_part {
    width: 80%;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }

  /* ---------------------------------------------------------- greenery section mobile view ---------------------------- */

  .greenery p {
    width: 81%;
  }

  .greenery_items {
    display: none;
  }

  .greenery_card_forMobile {
    display: block;
    padding: 2rem;
  }

  .greenery_card_forMobile h5 {
    font-weight: 700;
    padding-top: 1rem;
  }

  .greenery_card_forMobile button {
    font-size: 8px;
    padding: 9px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    border-radius: 30px;
    background-color: black;
    color: white;
    margin-top: 1rem;
  }

  .greenery_card_forMobile button:hover {
    background-color: white;
    color: black;
  }

  .greenery_button {
    margin-top: 0;
    margin-bottom: 0;
  }

  .greenery_button button {
    margin-top: 0;
  }

  .greenery_card_dot {
    display: block;
    font-size: 2rem;
    text-align: center;
  }

  .greenery_card_dot i:first-child {
    color: #00964a;
  }

  /* ------------------------------------------ footer above image mobile view ----------------------------------------*/

  .images_above_footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-left: 3rem;
    margin-right: 0;
  }

  .images_above_footer div {
    width: 77vw;
  }
  .images_above_footer div h5 {
    width: 47vw;
    padding-top: 1rem;
  }
  .images_above_footer img:first-child {
    display: block;
  }
  .images_above_footer img:nth-child(2) {
    display: block;
  }
  .images_above_footer img {
    display: none;
  }

  .footer_above_banner {
    margin-top: 2rem;
  }

  .footer_above_banner h1 {
    margin-top: 1rem;
    font-size: 3rem;
    text-align: center;
  }
}
